---
import Hktekno from "~/components/icon/hktekno.astro";
import Pertamina from "~/components/icon/pertamina.astro";
import Unmul from "~/components/icon/unmul.astro";
import First from "~/components/icon/first.astro";
import Second from "~/components/icon/second.astro";
import Britech from "~/assets/img/projects/britech2.png";
---

<section class="mb-14">
  <h2 class="observe experience mb-2 text-xl font-semibold md:text-3xl">
    Experience
  </h2>
  <div class="space-y-1 pl-2.5 text-gray-700">
    <ol class="relative border-s border-gray-200 dark:border-gray-700">
      <li class="observe hktekno ms-6 mb-10">
        <span
          class="absolute -start-2.5 flex h-5 w-5 translate-y-1 items-center justify-center rounded-full ring-8 ring-white md:-start-3.5 md:h-7 md:w-7"
        >
          <Hktekno />
        </span>
        <p class="mb-1 flex flex-wrap items-center text-base md:text-lg">
          <span class="font-semibold text-gray-900">Software Developer</span>
          <span class="mx-1">at</span>
          <a
            href="https://hktekno.com/"
            target="_blank"
            class="font-semibold text-sky-700 underline">HK Teknologi</a
          >
        </p>
        <time
          class="mb-2 block text-sm leading-none font-normal text-gray-600 md:text-base"
          >October 2022 - Present</time
        >
        <ul class="list-inside list-disc space-y-1">
          <li>
            Backend Developer of <a
              target="_blank"
              class="font-medium underline"
              href="https://smexpo.pertamina.com/">SMEXPO Pertamina</a
            > 2023 using <a
              target="_blank"
              href="https://laravel.com/"
              class="font-medium underline">Laravel</a
            > and <a
              target="_blank"
              class="font-medium underline"
              href="https://v3.tailwindcss.com/">Tailwind CSS</a
            >
          </li>
          <ul class="list-disc space-y-2 pl-4">
            <li>Built API services for a client finance application using <a
                href="https://laravel.com/"
                target="_blank"
                class="font-medium underline">Laravel</a
              > (2022-2023).
            </li>
            <li>
              Developed event registration websites with features like
              registration, racepack payment, BIB photo display, and prize draw
              spinner using <a
                href="https://laravel.com/"
                target="_blank"
                class="font-medium underline">Laravel</a
              > for events (Mahakam Korpri Run 5K 2024, Sisterhood Run 2025).
            </li>
            <li>
              Handled GenggamanMu food delivery mobile app, using <a
                href="https://laravel.com/"
                target="_blank"
                class="font-medium underline">Laravel</a
              > for backend and <a
                href="https://expo.dev/"
                target="_blank"
                class="font-medium underline">React Native (Expo)</a
              > for mobile (Android).
            </li>
          </ul>
        </ul>
      </li>


      <li class="observe britech ms-6">
        <span
          class="absolute -start-2.5 flex h-5 w-5 translate-y-1 items-center justify-center rounded-full ring-8 ring-white md:-start-3.5 md:h-7 md:w-7"
        >
          <img class="w-[522px] h-[522px] object-contain" {...Britech}>
        </span>
        <p class="mb-1 flex flex-wrap items-center text-base md:text-lg">
          <span class="font-semibold text-gray-900">Web Developer Internship</span>
          <span class="mx-1">at</span>
          <a
            href="https://britech.id/"
            target="_blank"
            class="font-semibold text-red-600 underline"
            >CV Beesoft Research & Technology (Britech)</a
          >
        </p>
        <time class="mb-2 block text-sm leading-none font-normal text-gray-600"
          >March 2021 - May 2021</time
        >
        <ul class="list-inside list-disc space-y-2">
          <li>
            Frontend development using <span class="font-semibold text-gray-900">OctoberCMS</span> for Samarinda City's Geographic Information System.
          </li>
        </ul>
      </li>
    </ol>
  </div>
</section>
